body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;

}
.container {
  /* max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto; */
  max-width: 320px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
   margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
}

/* HEADER */
.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger-btn {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
.nav-header {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
display: block;
  /* padding: 24px 0;
  margin-right: 76px; */
}

.header-logo .logo-part {
  color: #2e2f42;
}
.header-list {
  display: none;
  /* display: flex;
  align-items: center;
  gap: 40px; */
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current {
  position: relative;
}
.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
}
.header-link:hover,
.header-link:focus,
.header-link.current {
  color: #404bbf;
}
.address {
  display: none;
  /* font-style: normal;
  margin-left: auto; */
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.adress-link {
  display: block;
  /* padding: 24px 0; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}
.footer-page,
.banner {
  background: #2e2f42;
}
/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-cross {
  position: absolute;
  top: 24px;
  right: 24px;
   width: 24px;
  height: 24px;
  padding: 0; 
  cursor: pointer;
border: none;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1); 
background-color: #e7e9fc;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.mobile-nav {
  margin-bottom: auto;
}
.mobile-link {
  font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
display: block;
margin-bottom: 40px;
}
.mobile-link:hover,
.mobile-link:focus,
.mobile-link.current {
 color: #404bbf;
}
.mobile-adress {
  font-style: normal;
}
.mobile-adress-link {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
display: block;
margin-bottom: 24px;
}
.mobile-adress-link:hover,
.mobile-adress-link:focus {
  color: #404bbf;
}
.social-links-mobile {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 280px;
}
.mobile-list .link-mobile {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .link-mobile {
  display: flex;
    justify-content: center;
    align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.icon-mobile {
  fill: #f4f4fd;
}
.mobile-list .link-mobile:hover,
.mobile-list .link-mobile:focus {
  background-color: #404bbf;
}
/* FOOTER */
.footer-page {
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding-top: 100px;
  padding-bottom: 100px; */
 
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
  /* align-items: baseline; */
}
/* .footer-head {
  margin-right: 120px;
} */
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  /* width: 264px; */
  width: 288px;
  display: block;
}

.footer-text-new {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
/* width: 96px; */
display: block;
text-align: center;
margin-bottom: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  /* display: inline-block; */
  display: block;
  text-align: center;
}
.footer-logo .footer-part {
  color: #f4f4fd;
}
.social-links-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 208px;
}
.footer-list .link-footer{
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.link-footer {
  display: flex;
    justify-content: center;
    align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.social-links-footer .link-footer:hover {
  background-color: #31D0AA;
}
.social-links-footer .link-footer:focus {
  background-color: #31d0aa; 
}
.icon-footer {
  fill: #f4f4fd;
}
.footer-social {
  /* margin-right: 80px; */

}

.footer-feedback {
  width: 288px;
  /* margin-left: auto; */
  /* display: block;
  justify-content: flex-end; */

  }

  .footer-left-new {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 288px;
  justify-content: center;
  align-items: center;
  /* gap: 24px;
  justify-content: center;
  align-items: center;
  width: 453px; */
}
.footer-input {
  border: 1px solid #fff;
border-radius: 4px;
/* width: 264px; */
width: 288px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
opacity: 0.3;
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
letter-spacing: 0.04em;
}
.footer-input::placeholder {
  font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
}

.footer-btn-subs {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subs-icon {
  fill: #ffffff;
  display: block;
  margin-left: 16px;
}
.footer-btn-subs:hover,
.footer-btn-subs:focus {
  background-color: #404BBF;
  fill: #f4f4fd;
}
.footer-btn-subs:focus + .subs-icon {
  background-color: #404BBF;
  fill: #f4f4fd;
}

/* HERO */
.visually-hidden {
   position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.banner {
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 72px;
  padding-bottom: 72px;
  padding-left: 52px;
  padding-right: 52px;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/Dark-bg-mob.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
}
.banner-h {
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  /* line-height: 1.07; */
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  /* max-width: 496px; */
  max-width: 216;
  margin: 0 auto;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;

}
.banner-button {
  cursor: pointer;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  display: block;
  text-align: center;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.banner-button:hover,
.banner-button:focus {
  background: #404bbf;
}


 /* SECTION A */
.capabilities {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.capabilities-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}
.capabilities-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}
/* .images-capabilities {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
margin-bottom: 8px;
} */
.images-capabilities {
  display: none;
}

/* .icon-cap {
  margin: 0 auto;
} */
/* SECTION OUR TEAM */
.name {
  background: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding-left: 28;
  padding-right: 28px;
   */
}

.name-section {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.names-text {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.names {
  /* text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; */
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
 margin-bottom: 8px;
}
.mobile {
  text-transform: capitalize;
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
text-align: center;
}

.section-text {
  /* font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px; */
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.edit {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}

.name-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  /* gap: 72px; */
}

.foto-fon {
  border-radius: 0 0 4px 4px;
  background: #fff;
  /* width: calc((100% - 72px) / 4); */
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;  
width: 100%;
}

.social-item .link {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.social-links .link {
  display: flex;
    justify-content: center;
    align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.icon {
  fill: #f4f4fd;
}

.social-links .link:hover {
  background-color: #404bbf;
}

.social-links .link:focus {
  background-color: #404bbf;
}

/* PORTFOLIO */
.frame {  
padding: 32px 16px;
height: 120px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
  /* column-gap: 24px;
  row-gap: 48px; */
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding-top: 120px;
  padding-bottom: 120px; */
}
.folio {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: left;
}
.inside {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: left;
}

.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover {
   position: relative;
  overflow: hidden;
}

.portfolio-item:hover .text-cover {
  transform: translate(0); 
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;;
  color: #f4f4fd;
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 40px 32px; 
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MODAL VINDOW */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  /* padding: 24px; */
  padding: 16px;
  padding-top: 72px;
  width: 288px;
   min-height: 623px;
  /* width: 408px;
  min-height: 584px; */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-cross {
  width: 24px;
  height: 24px;
  padding: 0; 
  cursor: pointer;
border: none;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1); 
background-color: #e7e9fc;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
position: absolute;
top: 24px;
right: 24px;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-icon-cross {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-cross:hover,
.modal-cross:focus {
  background-color: #404BBF;
 fill: #ffffff;
 border: none; 
}
.modal-cross:focus + .modal-icon-cross {
  background-color: #404BBF;
  fill: #ffffff;
}
.modal-text {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
width: 256px;
margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 40px;
background-color: transparent;
padding-left: 34px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  border: #4d5ae5;
  fill: #4d5ae5;
}
.label-text {
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-input-cover {
  position: relative;
}
.modal-input-icon {
 padding: 3px 0px;
width: 18px;
height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-textarea {
  margin-bottom: 16px;
}
.modal-item::placeholder {
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
position: absolute;
left: 16px;
top: 8px;
}
.textarea {
  resize: none;
  padding-left: 16px;
  padding-top: 8px;
}
.modal-item {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 120px;
font-size: 12px; 
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4); 
background-color: transparent;
padding: 8px 16px; 
resize: none;
outline: transparent;
position: relative;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-item:focus {
  border-color: #4D5AE5;
}
.modal-button {
  cursor: pointer;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  display: block;
  text-align: center;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background: #404bbf;
}
.check-container { 
display: flex;
align-items: center;
gap: 8px;
margin-bottom: 24px;
}
.check-text {
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.check-link {
  line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.check-element {
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
width: 16px;
  height: 16px;
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text .check-element {
  border: none;
  fill: #F4F4FD;
  background-color: #404BBF;
}

/* =====MEDIA===== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  }
  /* HEADER */
 .burger-btn {
  display: none;
 } 
 
 .header-logo {
    padding: 24px 0;
  margin-right: 120px;
  }
 .header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  font-style: normal;
  display: block;
  /* margin-left: auto; */
}
.address-list {
  /* display: block; */
  flex-direction: column;
  gap: 12px;
}
.adress-link {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.mobile-menu {
  display: none;
}
/* HERO */
.banner {
  padding-top: 112px;
  padding-bottom: 112px;
  padding-left: 136px;
  padding-right: 136px;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/Dark-bg-tab.jpg);
}
.banner-h {
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 36px;
  max-width: 496px;
}
  /* SECTION A */
  .capabilities-item {
  width: calc((100% - 24px) / 2);
}
  
  .capabilities-list {
   column-gap: 24px;
  row-gap: 72px;
  }
  /* SECTION OUR TEAM */
  .name {
    padding-left: 108px;
    padding-right: 108px;
  }
  .foto-fon {
  width: calc((100% - 24px) / 2);
}
.name-list {
  column-gap: 24px;
  row-gap: 64px;
}
.names {
   text-align: left;
  /* text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42; */
} 
.mobile {
  text-align: center;
}
/* PORTFOLIO */
.portfolio-list {
  column-gap: 24px;
  row-gap: 72px;
}
.portfolio-item {
  width: calc((100% - 24px) / 2);
}
/* FOOTER */
.footer-container {
  gap: 24px;
  row-gap: 72px;
  justify-content: start;
  align-items: start;
  padding-left: 108px;
}
.footer-text {
  width: 264px;
}
.footer-text-new {
  text-align: left;
}
.footer-logo {
  text-align: left;
}
.footer-feedback {
  /* flex-wrap: nowrap; */
   width: 453px;
  display: block;
  /* justify-content:; */
}
 .footer-left-new {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: left;
  align-items: center;
  /* width: 453px; */
 }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  /* HEADER */
  .header-logo {
    padding: 24px 0;
  margin-right: 76px;
  }
  .header-list {
    display: flex;
  align-items: center;
  gap: 40px;
  }
  .address {
    display: inline;
    font-style: normal;
  margin-left: auto;
  }
  .address-list {
  display: flex;
  flex-direction: unset;
  align-items: center;
  gap: 40px;
}
.adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
padding: 24px 0;
  }
  
.burger-btn {
  display: none;
}
/* .mobile-menu {
  display: none;
} */
 /* HERO */
.banner {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/hero-img.jpg);
} 
.banner-h {
  max-width: 496px;
  margin-bottom: 48px;
}
  /* SECTION A */
  .capabilities {
     padding-top: 120px;
  padding-bottom: 120px; 
  }
  .capabilities-list {
    /* display: flex; */
    gap: 24px;
  }
  .capabilities-item {
  width: calc((100% - 72px) / 4);
}
.images-capabilities {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
margin-bottom: 8px;
}
.icon-cap {
  margin: 0 auto;
}
.names {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
/* SECTION OUR TEAM */
.name {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 0px;
    padding-right: 0px;
}
.foto-fon {
  width: calc((100% - 72px) / 4);
}
.name-list {
  /* flex-wrap: nowrap; */
  gap: 24px;
}
.names {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* text-align: center; */
} 
.mobile {
  text-align: center;
}
/* PORTFOLIO */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.folio {
  text-align: left;
}
/* FOOTER */
.footer-page {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  align-items: baseline;
}
.footer-head {
  margin-right: 120px;
}
.footer-text {
  width: 264px;
}
.footer-text-new {

}
.footer-feedback {
  display: block;
  justify-content: flex-end;
}
 .footer-left-new {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 453px;
 }
 .footer-social {
  margin-right: 80px;
 }
 .footer-input {
  width: 264px;
  opacity: unset;
 }
 /* MODAL VINDOW */
 
.modal {
  padding: 24px;
  padding-top: 72px;
  width: 408px;
  min-height: 584px;
}
.modal-text {
width: 360px;
}
.modal-input {
padding-left: 38px;
}

}
